palaa_latest_database/MoDeL.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSpy v2011 (http://www.altova.com) by Kun Jiang (cas) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!-- Simple Type define start -->
	<xsd:simpleType name="DBId">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="boolean_type">
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>
	<!-- Int Type (wangzhen) -->
	<xsd:simpleType name="int_type">
		<xsd:restriction base="xsd:int"/>
	</xsd:simpleType>
	<xsd:simpleType name="double_type">
		<xsd:restriction base="xsd:double"/>
	</xsd:simpleType>
	<xsd:simpleType name="Int_ZOO">
		<xsd:restriction base="xsd:decimal">
			<xsd:enumeration value="0"/>
			<xsd:enumeration value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string_type">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<!-- Simple Type define end -->
	<!-- basic complex type for part/biobrick define start -->
	<xsd:complexType name="interface_type">
		<xsd:sequence>
			<xsd:element name="url" type="string_type" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="shortDesc" type="string_type" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--    <xsd:complexType name="conditionalParameter_type_1">-->
	<!--        <xsd:sequence>-->
	<!--            <xsd:element name="parameterValue" minOccurs="0" maxOccurs="1">-->
	<!--                <xsd:complexType>-->
	<!--                    <xsd:simpleContent>-->
	<!--                        <xsd:extension base="double_type">-->
	<!--                            <xsd:attribute name="compartment" type="DBId"/>-->
	<!--                        </xsd:extension>-->
	<!--                    </xsd:simpleContent>-->
	<!--                </xsd:complexType>-->
	<!--            </xsd:element>-->
	<!--        </xsd:sequence>-->
	<!--        <xsd:attribute name="id" use="required">-->
	<!--            <xsd:simpleType>-->
	<!--                <xsd:restriction base="DBId">-->
	<!--                    <xsd:enumeration value="forwardPromoterEfficiency"/>-->
	<!--                    <xsd:enumeration value="reversePromoterEfficiency"/>-->
	<!--                    <xsd:enumeration value="forwardRbsEfficiency"/>-->
	<!--                    <xsd:enumeration value="reverseRbsEfficiency"/>-->
	<!--                    <xsd:enumeration value="forwardTerminatorEfficiency"/>-->
	<!--                    <xsd:enumeration value="reverseTerminatorEfficiency"/>-->
	<!--                </xsd:restriction>-->
	<!--            </xsd:simpleType>-->
	<!--        </xsd:attribute>-->
	<!--        <xsd:attribute name="name" type="string_type"/>-->
	<!--        <xsd:attribute name="units" type="DBId"/>-->
	<!--        <xsd:attribute name="commonValue" type="double_type"/>-->
	<!--    </xsd:complexType>-->
	<!--    <xsd:complexType name="conditionalParameter_type_2">-->
	<!--        <xsd:sequence>-->
	<!--            <xsd:element name="parameterValue" minOccurs="0" maxOccurs="1">-->
	<!--                <xsd:complexType>-->
	<!--                    <xsd:simpleContent>-->
	<!--                        <xsd:extension base="Int_ZOO">-->
	<!--                            <xsd:attribute name="compartment" type="DBId"/>-->
	<!--                        </xsd:extension>-->
	<!--                    </xsd:simpleContent>-->
	<!--                </xsd:complexType>-->
	<!--            </xsd:element>-->
	<!--        </xsd:sequence>-->
	<!--        <xsd:attribute name="id" use="required">-->
	<!--            <xsd:simpleType>-->
	<!--                <xsd:restriction base="DBId">-->
	<!--                    <xsd:enumeration value="forwardStartCodonEfficiency"/>-->
	<!--                    <xsd:enumeration value="reverseStartCodonEfficiency"/>-->
	<!--                    <xsd:enumeration value="forwardStopCodonEfficiency"/>-->
	<!--                    <xsd:enumeration value="reverseStopCodonEfficiency"/>-->
	<!--                </xsd:restriction>-->
	<!--            </xsd:simpleType>-->
	<!--        </xsd:attribute>-->
	<!--        <xsd:attribute name="name" type="string_type"/>-->
	<!--        <xsd:attribute name="units" type="DBId"/>-->
	<!--        <xsd:attribute name="commonValue" type="Int_ZOO"/>-->
	<!--    </xsd:complexType>-->
	<xsd:simpleType name="CDip_type_1">
		<xsd:restriction base="DBId">
			<xsd:enumeration value="forwardPromoterEfficiency"/>
			<xsd:enumeration value="reversePromoterEfficiency"/>
			<xsd:enumeration value="forwardRbsEfficiency"/>
			<xsd:enumeration value="reverseRbsEfficiency"/>
			<xsd:enumeration value="forwardTerminatorEfficiency"/>
			<xsd:enumeration value="reverseTerminatorEfficiency"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CDip_type_2">
		<xsd:restriction base="DBId">
			<xsd:enumeration value="forwardStartCodonEfficiency"/>
			<xsd:enumeration value="reverseStartCodonEfficiency"/>
			<xsd:enumeration value="forwardStopCodonEfficiency"/>
			<xsd:enumeration value="reverseStopCodonEfficiency"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CDip_value_type">
		<xsd:union memberTypes="double_type Int_ZOO"/>
	</xsd:simpleType>
	<xsd:complexType name="conditionalParameter_type">
		<xsd:sequence>
			<xsd:element name="parameterValue" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="CDip_value_type">
							<xsd:attribute name="compartment" type="DBId" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="id" use="required">
			<xsd:simpleType>
				<xsd:union memberTypes="CDip_type_1 CDip_type_2"/>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="name" type="string_type"/>
		<xsd:attribute name="units" type="DBId"/>
		<xsd:attribute name="commonValue" type="CDip_value_type"/>
	</xsd:complexType>
	<xsd:complexType name="listOfConditionalParameters_type">
		<xsd:sequence>
			<xsd:element name="conditionalParameter" type="conditionalParameter_type" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="partCategory_type">
		<xsd:restriction base="string_type">
			<xsd:enumeration value="biobrick"/>
			<xsd:enumeration value="compound"/>
			<xsd:enumeration value="compartment"/>
			<xsd:enumeration value="substituent"/>
			<xsd:enumeration value="plasmidBackbone"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="partType_type">
		<xsd:restriction base="string_type">
			<xsd:enumeration value="DNA"/>
			<xsd:enumeration value="ReverseDNA"/>
			<xsd:enumeration value="RNA"/>
			<xsd:enumeration value="ReverseRNA"/>
			<xsd:enumeration value="Protein"/>
			<xsd:enumeration value="ReverseProtein"/>
			<xsd:enumeration value="Compound"/>
			<xsd:enumeration value="Compartment"/>
			<xsd:enumeration value=""/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="listOfReferencedSpecies_type">
		<xsd:sequence>
			<xsd:element name="referencedSpecies" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="DBId">
							<xsd:attribute name="partType" type="partType_type" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="biobricktype">
		<xsd:sequence>
			<xsd:element name="interface" type="interface_type"/>
			<xsd:element name="listOfConditionalParameters" type="listOfConditionalParameters_type"/>
			<xsd:element name="listOfReferencedSpecies" type="listOfReferencedSpecies_type"/>
		</xsd:sequence>
		<xsd:attribute name="registryName" type="DBId"/>
		<xsd:attribute name="id" type="DBId" use="required"/>
		<xsd:attribute name="name" type="string_type"/>
		<xsd:attribute name="originalConformation" type="DBId"/>
	</xsd:complexType>
	<!-- basic complex type for part/plasmidBackbone define start -->
	<xsd:complexType name="plasmidBackbone_type">
		<xsd:sequence>
			<xsd:element name="interface" type="interface_type"/>
			<xsd:element name="listOfConditionalParameters"/>
			<xsd:element name="listOfReferencedSpecies" type="listOfReferencedSpecies_type"/>
		</xsd:sequence>
		<xsd:attribute name="registryName" type="DBId"/>
		<xsd:attribute name="id" type="DBId" use="required"/>
		<xsd:attribute name="name" type="string_type"/>
		<xsd:attribute name="originalConformation" type="DBId"/>
	</xsd:complexType>
	<xsd:complexType name="compound_type">
		<xsd:sequence>
			<xsd:element name="interface" type="interface_type"/>
			<xsd:element name="listOfConditionalParameters" minOccurs="0"/>
			<xsd:element name="listOfReferencedSpecies" type="listOfReferencedSpecies_type"/>
		</xsd:sequence>
		<xsd:attribute name="registryName"/>
		<xsd:attribute name="id" type="DBId" use="required"/>
		<xsd:attribute name="name" type="string_type"/>
		<xsd:attribute name="originalConformation" type="DBId"/>
	</xsd:complexType>
	<xsd:complexType name="compartmentType">
		<xsd:sequence>
			<xsd:element name="interface" type="interface_type"/>
			<xsd:element name="listOfConditionalParameters" minOccurs="0"/>
			<xsd:element name="listOfReferencedSpecies" type="listOfReferencedSpecies_type"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="DBId" use="required"/>
		<xsd:attribute name="name" type="string_type"/>
		<xsd:attribute name="originalConformation" type="DBId"/>
	</xsd:complexType>
	<xsd:complexType name="substituent_type">
		<xsd:sequence>
			<xsd:element name="interface" type="interface_type"/>
			<xsd:element name="listOfConditionalParameters" minOccurs="0"/>
			<xsd:element name="listOfReferencedSpecies" type="listOfReferencedSpecies_type"/>
		</xsd:sequence>
		<xsd:attribute name="registryName" type="DBId"/>
		<xsd:attribute name="id" use="required">
			<xsd:simpleType>
				<xsd:restriction base="DBId">
					<xsd:enumeration value="ANY"/>
					<xsd:enumeration value="ANYUB"/>
					<xsd:enumeration value="NZ"/>
					<xsd:enumeration value="NZUB"/>
					<xsd:enumeration value="ONE"/>
					<xsd:enumeration value="ONEUB"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="name" type="string_type"/>
		<xsd:attribute name="originalConformation" type="DBId"/>
	</xsd:complexType>
	<xsd:complexType name="Part_type">
		<xsd:all>
			<xsd:element name="biobrick" type="biobricktype"/>
			<xsd:element name="plasmidBackbone" type="plasmidBackbone_type"/>
			<xsd:element name="compartment" type="plasmidBackbone_type"/>
			<xsd:element name="compound" type="compound_type"/>
			<xsd:element name="substitutent" type="substituent_type"/>
		</xsd:all>
	</xsd:complexType>
	<!--    base type for rules-->
	<!-- basic complex type for Compartment define start (wangzhen) -->
	<xsd:complexType name="Compartment_type">
		<xsd:sequence>
			<xsd:element name="interface" type="interface_type"/>
			<xsd:element name="listOfInnerCompartmentPermitted" type="listOfInnerCompartmentPermitted_type"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="DBId" use="required"/>
		<xsd:attribute name="name" type="string_type"/>
		<xsd:attribute name="originalConformation" type="DBId"/>
	</xsd:complexType>
	<xsd:complexType name="listOfInnerCompartmentPermitted_type">
		<xsd:sequence>
			<xsd:element name="compartmentReference" type="DBId" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- basic complex type for functionDefinition define start (wangzhen) -->
	<xsd:complexType name="rule_type_1">
		<xsd:sequence>
			<xsd:element name="math" type="math_type" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="variable" type="DBId" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="rule_type_2">
		<xsd:sequence>
			<xsd:element name="math" type="math_type" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="functionDefinition_type">
		<xsd:sequence>
			<xsd:element name="math" type="math_type" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="DBId" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="globalParameters_type">
		<xsd:sequence>
			<xsd:element name="id" type="DBId"/>
			<xsd:element name="name" type="string_type" minOccurs="0"/>
			<xsd:element name="units" type="DBId" minOccurs="0"/>
			<xsd:element name="value" type="double_type"/>
			<xsd:element name="constant" type="boolean_type" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- basic complex type for rule define start (wangzhen) -->
	<!--    base type for reaction by jk -->
	<xsd:complexType name="reaRMP_type">
		<xsd:sequence>
			<xsd:element name="speciesReference" type="DBId"/>
			<xsd:element name="speciesLable" type="string_type"/>
			<xsd:element name="compartmentLabel">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="string_type">
							<xsd:attribute name="itself" type="string_type"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="reac_compartment_type">
		<xsd:sequence>
			<xsd:element name="compartmentReference" type="DBId"/>
			<xsd:element name="currentCompartmentLabel" type="string_type"/>
			<xsd:element name="parentCompartmentLabel" type="string_type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="substituentTransfer_type">
		<xsd:sequence>
			<xsd:element name="from">
				<xsd:complexType>
					<xsd:attribute name="speciesLabel" type="string_type"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="to">
				<xsd:complexType>
					<xsd:attribute name="speciesLabel" type="string_type"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="localParameter_type">
		<xsd:sequence>
			<xsd:element name="id" type="string_type"/>
			<xsd:element name="name" type="string_type"/>
			<xsd:element name="value" type="double_type"/>
			<xsd:element name="units" type="DBId"/>
			<xsd:element name="constant" type="boolean_type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="referencedParameters_type">
		<xsd:sequence>
			<xsd:element name="id" type="string_type"/>
			<xsd:element name="extRefSource">
				<xsd:complexType>
					<xsd:attribute name="speciesLabel" type="string_type"/>
					<xsd:attribute name="partLabel" type="string_type"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="value" type="double_type"/>
			<xsd:element name="units" type="DBId"/>
			<xsd:element name="constant" type="boolean_type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="listofconstraints_type">
		<xsd:sequence>
			<xsd:element name="listOfVariable" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="variable" type="string_type"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="formula" type="math_type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="math_type">
		<xsd:sequence>
			<xsd:any/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="kineticLaw_type">
		<xsd:sequence>
			<xsd:element name="math" type="math_type" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="listOfLocalParameters">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="localParameter" type="localParameter_type" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="listOfReferencedParameters">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="referencedParameters" type="referencedParameters_type" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="listOfConstraints" type="listofconstraints_type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Reaction_type">
		<xsd:sequence>
			<xsd:element name="interface" type="interface_type"/>
			<xsd:element name="listOfCompartments">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="compartment" type="reac_compartment_type" minOccurs="1" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="listOfReactants">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="reactant" type="reaRMP_type" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="listOfModifiers">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="modifier" type="reaRMP_type" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="listOfProducts">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="product" type="reaRMP_type" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="listOfSubstituentTransfers">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="substituentTransfer" type="substituentTransfer_type" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="kineticLaw">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="forwardKineticLaw" type="kineticLaw_type" minOccurs="1" maxOccurs="unbounded"/>
						<xsd:element name="reverseKineticLaw" type="kineticLaw_type" minOccurs="1" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="id" type="DBId" use="required"/>
		<xsd:attribute name="name" type="string_type"/>
		<xsd:attribute name="reversible" type="boolean_type"/>
		<xsd:attribute name="fast" type="boolean_type"/>
	</xsd:complexType>
	<!--    base type for  end by jk-->
	<xsd:complexType name="listOfFunctionDefinitions_type">
		<xsd:sequence>
			<xsd:element name="functionDefinition" type="functionDefinition_type" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--<xsd:complexType name="listOfUnitDefinitions_type">
		<xsd:element name="unitDefinition" type="functionDefinition_type" minOccurs="0"/>
		<xsd:complexType name="unitDefinition_type">
			<xsd:element> name="listOfUnits">
				<xsd:complexType name="listOfUnits_type"double_type>
					<xsd:element name="unit" type="unit_type" minOccurs="0"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:attribute name="id" type="DBId"/>
		</xsd:complexType>
	</xsd:complexType>-->
	<xsd:complexType name="unitDefinition_type">
		<xsd:sequence>
			<xsd:element name="listOfUnits">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="unit">
							<xsd:complexType>
								<xsd:attribute name="kind" type="DBId" use="required"/>
								<xsd:attribute name="exponent" type="int_type"/>
								<xsd:attribute name="scale" type="int_type"/>
								<xsd:attribute name="multiplier" type="double_type"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="id" type="DBId" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="listOfRules_type">
		<xsd:sequence>
			<xsd:element name="assignmentRule" type="rule_type_1" minOccurs="0"/>
			<xsd:element name="rateRule" type="rule_type_1" minOccurs="0"/>
			<xsd:element name="algebraicRule" type="rule_type_2" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- the whole definition of Species -->
	<xsd:complexType name="listOfReferencedReactions_type">
		<xsd:sequence>
			<xsd:element name="referencedReaction" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="DBId">
							<xsd:attribute name="speciesType" use="required">
								<xsd:simpleType>
									<xsd:restriction base="string_type">
										<xsd:enumeration value="reactant"/>
										<xsd:enumeration value="modifier"/>
										<xsd:enumeration value="product"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="listOfChains_type">
		<xsd:sequence>
			<xsd:element name="chain" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="listOfParts" minOccurs="1" maxOccurs="1">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="part" minOccurs="1" maxOccurs="unbounded">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="partReference" type="DBId"/>
												<xsd:element name="partLabel" type="string_type"/>
												<xsd:element name="partType" type="partType_type"/>
												<xsd:element name="partCategory" type="partType_type"/>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="listOfTrees_type">
		<xsd:sequence>
			<xsd:element name="tree" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="listOfNodes" minOccurs="1" maxOccurs="1">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="node" minOccurs="1" maxOccurs="unbounded">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="currentNodeLabel" type="string_type"/>
												<xsd:element name="parentNodeLabel" type="string_type"/>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="cnModel_type">
		<xsd:sequence>
			<xsd:element name="listOfChains" type="listOfChains_type"/>
			<xsd:element name="listOfTrees" type="listOfTrees_type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="species_type">
		<xsd:sequence>
			<xsd:element name="interface" type="interface_type"/>
			<xsd:element name="cnModel" type="cnModel_type"/>
			<xsd:element name="listOfReferencedReactions" type="listOfReferencedReactions_type"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="DBId" use="required"/>
		<xsd:attribute name="name" type="string_type"/>
	</xsd:complexType>
	<xsd:complexType name="system_type">
		<xsd:all>
			<xsd:element name="functionDefinition" type="functionDefinition_type" minOccurs="0"/>
			<xsd:element name="rules" type="listOfRules_type" minOccurs="0"/>
			<xsd:element name="unitDefinition" type="unitDefinition_type" minOccurs="0"/>
			<xsd:element name="globalParameters" type="globalParameters_type" minOccurs="0"/>
		</xsd:all>
	</xsd:complexType>
	<xsd:element name="MoDeL">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element name="Part" type="Part_type"/>
				<xsd:element name="Reaction" type="Reaction_type"/>
				<xsd:element name="Species" type="species_type"/>
				<xsd:element name="Compartment" type="Compartment_type"/>
				<xsd:element name="System" type="system_type"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
